@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Raleway", sans-serif;

    color: #FFF5EE;
}

/* Grouped styles */
body,
.input-field-wrap,
.input-field {
    display: flex;
} 

.header,
.add-book-container,
.book-list-container {
    margin-block-end: 1.5rem;
    width: 60vw;
}

.btn-shared-style {
    border: none;
    outline: none;

    font-size: 0.85rem;
    font-weight: 650;
    white-space: nowrap;

    border-radius: 0.25rem;
    
    padding-inline: 1.2rem;
    padding-block: 0.44rem;

    cursor: pointer;
}

/* Body layout */
body {
    min-height: 100vh;
    
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    background: 	#24292e;
}


/* Header styling */
.header {
    margin-block-start: 2rem;
}
.header h1 {
    margin-block-end: 1rem;
}

/* Add book container styling*/
.input-field-wrap {
    margin-block-end: 1.2rem;
}

.input-field {
    margin-inline-end: 1.5rem;
    flex-direction: column;
}

.input-field input,
.input-field select {
    height: 30px;
    background: #2b3137;

    border: 0.1rem solid #FFF5EE;
    margin-block-start: 0.4rem;
    padding: 1rem;
    border-radius: 1rem;
}

.input-field input {
    padding-inline-start: 1rem;
    padding-block: 0.6rem;

    outline: none;
}

.input-field label {
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
}

.add-book-container {
    margin-block: 1.5rem;
}

.add-book-container .btn-add-book {
    background:#4078c0;
    margin-inline-start: 0.5rem;
}

/* Book list styling */
.book-list-container {
    min-height: 360px;
}

.book-list-container table.book-list-table {
    width: 100%;
    text-align: left;
}

.book-list-table {
    border-collapse: collapse;
    border-spacing: 50px 0;
}
  
.book-list-table tr {
    border-bottom: 1pt solid black;
}

.book-list-table th,
.book-list-table td {
    padding-block: 0.8rem;
}

.book-list-table .btn-delete-book {
    background: #f0440a;
}

.book-list-table .btn-read-status {
    background:#2dba4e;
}




.btn-submit-wrap {
    display: flex;
    align-items: baseline;
}

.warning-message {
    display: none;

    margin-inline-start: 2rem;
    padding-inline: 1rem;
    padding-block: 0.3rem;

    border: 2px solid red;
    border-radius: 0.25rem;

    font-size: 1rem;
    color: red;
    font-weight: 600;
}