/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

/* Grouped styles */
body,
.input-field-wrap,
.input-field {
    display: flex;
} 

.header,
.add-book-container,
.book-list-container {
    margin-block-end: 1.5rem;
}

/* Body layout */
body {
    min-height: 100vh;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Header styling */
.header h1 {
    margin-block-end: 1rem;
}

/* Add book container styling*/

.input-field-wrap {
    margin-block-end: 1.2rem;
}

.input-field {
    margin-inline-end: 1rem;
    flex-direction: column;
}