/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Raleway", sans-serif;
}

/* Grouped styles */
body,
.input-field-wrap,
.input-field {
    display: flex;
} 

.header,
.add-book-container,
.book-list-container {
    margin-block-end: 1.5rem;
    width: 60vw;
}

/* Body layout */
body {
    min-height: 100vh;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Header styling */
.header h1 {
    margin-block-end: 1rem;
}

/* Submit book container styling*/
.input-field-wrap {
    margin-block-end: 1.2rem;
}

.input-field {
    margin-inline-end: 1.5rem;
    flex-direction: column;
}

/* Book list styling */
.book-list-container {
    min-height: 360px;
}

.book-list-container table.book-list-table{
    width: 100%;
    text-align: left;
}

table.book-list-table {
    border-collapse: collapse;
    border-spacing: 50px 0;
}
  
table.book-list-table tr {
    border-bottom: 1pt solid black;
}

table.book-list-table th,
table.book-list-table td {
    padding-block: 0.8rem;
}